body {
    background: #fff;
}
/*  banner  */
.banner-1 {
    background: url("../images/about/02.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner-2 {
    background: url("../images/about/04.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner-3 {
    background: url("../images/about/06.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner-4 {
    background: url("../images/about/07.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner-1-font {
    width: 60vw;
    margin-top: 7vh;
    margin-left: 7vw;
    display: block;
}
.qq {
    width: 22vw;
    margin-top: 5vh;
    margin-left: 7vw;
}
.about {
    margin: 4vh 3vw;
}
.logo {
    width: 150px;
    margin-bottom: 5vh;
}
.name {
    font-size: 2rem;
    padding-left: 2vw;
    margin: 0;
    border-left: 5px solid #0892fa;
    margin-bottom: 5vh;
}
.detail {
    color: #666666;
    text-align: justify;
}




