.banner {
    background: url("../images/business/banner.png") no-repeat;
    background-size: cover;
    padding-top: 77%;
}
.bus-list {
    width: 90vw;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 2vh;

}
.bus-list li {
    width: 43vw;
    margin: 0 1vw;
    margin-bottom: 1vh;
}
.bus-list li img {
    width: 100%;
}
.cooperate {
    width: 90vw;
    margin: 0 auto;
    border-top: 5px solid #0892fa;
    background: #fff;
    margin-top: 2vh;
}
.cooperate-header {
    font-size: 1.8rem;
    padding: 1rem;
    padding-left: 0;
}
.cooperate-header p{
    margin-left: 1.5rem;
    margin-bottom: 0;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 1rem;
}
.cooperate-header p small {
    color: #a9a9a9;
}
.coo-list {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 4vw;
}
.coo-list li {
    margin: 2vh 0;
    width: 100%;
    font-size: 16px;
    color: #666666;
}
.coo-list li img {
    width: 45px;
    margin-right: 10px;
}
.num {
    margin-right: 10px;
}
.join-hk {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.6);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding: 2vh 0;
    color: #fff;
    -webkit-box-align: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
}
.join-hk p {
    margin: 0;
    font-size: 16px;
}
.resume-delivery {
    border: none;
    background: #fd8112;
    width: 150px;
    border-radius: 20px;
    padding: 5px 15px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-pack: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    outline: none;
}
.my-badge {
    display: inline-block;
    background: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fd8112;
    line-height: 20px;
}
.modal-body {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}
.modal-body p {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.copy {
    border: none;
    background: #fd8112;
    padding: 5px 15px;
    color: #fff;
    width: 130px;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
    margin-bottom: 3vh;
}
.tel {
    text-align: center;
    margin: 5vh 0;
    font-size: 18px;
}
.toast {
    position: fixed;
    bottom: 10%;
    left: 43%;
    transform: translate(-20%,-50%);
    background: rgba(0,0,0,0.6);
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    z-index: 9999;
    display: none;
}
.toast p {
    margin: 0;
}
#copy {
    position: absolute;
    top: -1000px;
}



