body {
    background: #fff;
}
.back {
    width: 100%;
    height: 7vh;
    line-height: 7vh;
    background: #333333;
}
.back a {
    color: #fff;
    padding-left: 5vw;
}
.detail {
    padding: 3vh 5vw;
}
.content {
    line-height: 1.5;
    text-align: justify;
}
.title {
    font-size: 2rem;
    margin-bottom: 2vh;
}
.time {
    color: #666666;
    margin-bottom: 3vh;
}
.content img {
    max-width: 100%;
    height: auto;
    margin: 1vh 0;
}
.content p {
    line-height: 2;
}

