.banner {
    width: 100%;
    background: url("../images/join/banner.png") no-repeat;
    background-size: cover;

}
.banner img {
    width: 100%;
}
/*  job  */
.job {
    width: 90vw;
    margin: 0 auto;
    border-top: 5px solid #0892fa;
    background: #fff;
    margin-top: -3vh;
}
.job-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.5rem 0 0 0;
    border-bottom: 1px solid #e5e5e5;

}
.job-header p:first-child {
    margin-left: 2rem;
    font-size: 2rem;
}
.job-header p:last-child {
    margin-right: 2.8rem;
}
.headlines {
    display: inline-block;
    transform:skew(-10deg);
    background:#ff0000;
    font-size: 1.8rem;
    color: #fff;
    padding: 0 5px;
    margin-left: 5px;
}
.job-list {
    padding-bottom: 2rem;
}
.job-list li{
    padding: 1rem 0 0 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.title {
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
}
.time {
    color: #999999;
}






