body,ul,ol,li{margin:0;padding:0}
ol,ul{list-style:none}
a:hover{text-decoration:none}
a{text-decoration:none}
body {
    background: #f2f2f5;
}

.wrapper {
    position: relative;
    height: 4.5rem;
    width: 100%;
    overflow: hidden;
    padding-top: 1rem;
    background: #fff;
    padding-left: 2rem;
}

.wrapper .scroller {
    position: absolute
}

.wrapper .scroller li {
    height: 3rem;
    color: #333;
    float: left;
    line-height: 3rem;
    font-size: 1.5rem;
    text-align: center
}

.wrapper .scroller li a {
    color: #333;
    display: block;
    margin: 0 2rem;
    padding: 0 .1rem
}

.wrapper .scroller li.cur a {
    color: #0892fa;
    height: 2.5rem;
    border-bottom: .1rem solid #0892fa
}

/* bootstrap star   模态框居中 */
.modal-dialog {
    min-height: -webkit-calc(100vh - 60px);
    min-height: -moz-calc(100vh - 60px);
    min-height: calc(100vh - 60px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: auto;
}
@media (max-width: 768px) {
    .modal-dialog {
        min-height: -webkit-calc(100vh - 20px);
        min-height: -moz-calc(100vh - 20px);
        min-height: calc(100vh - 20px);
    }
}
/* bootstrap end */

